h1{
    color: blue;
}
h2{
    color: blueviolet;
}
h3{
    color: brown;
}

#title__h5{
    background-color: blueviolet;
}

.title{
    font-size: 30px;
}

.background{
    background-color: aqua;
}

.size{
    width: 200px;
    height: auto;
}