*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: blue;
}
h2{
    color: blueviolet;
}
h3{
    color: brown;
}

#title__h5{
    background-color: blueviolet;
}

.title{
    font-size: 30px;
}

.background{
    background-color: aqua;
}

.size{
    width: 200px;
    height: auto;
}

a:hover{
    font-size: 50px;
    color: red;
}

li:last-child{
    color: red;
}

p{
    color: blueviolet;
}

.color{
    color: red;
}

#color{
    color: black;
}

.container{
    color: rebeccapurple;
    text-align: center;
}

.container ul li:last-child{
    color: rebeccapurple;
}

.paragrafo2{
    color: rgb(255, 0, 0);
}

.paragrafo2{
    color: #FF0000;
}

.paragrafo2{
    color: rgba(255, 0, 0, 0.7);
}

.paragrafo2{
    color: red;
}