body{
    display: flex;
    justify-content: space-between;
}

div{
    background-color: red;
    height: 200px;
    width: 200px;
}

.p1{
    font-size: 7rem;
}

.p2{
    font-size: 7em;
}


.container{
    background-color: black;
    width: 50%;
    padding-bottom: 50%;
}