$font-size: 18px;
$primary-color: #ff0000;

.backgroundcolor{
    background-color: #e7e7e7;
}


.container-nav{
    width: 100%;
    
    nav{
        
        ul{
            display: flex;
            justify-content: center;
            gap: 50px;
            li{
                font-size: $font-size;
                
                &:hover{
                    color: $primary-color;
                }

                &:last-child{
                    @extend .backgroundcolor;
                    border-color: #333333;
                }
            }
            
        }
    }
}