@import './_variable.scss';

@function em($target, $context) {
  @return ($target / $context) * 1em;
}

@mixin theme($theme) {
  @if $theme == 'light' {
    .container-nav {
      background-color: white;

      nav {
        ul {
          li {
            @each $name, $color in $colors {
              &.color_#{$name} {
                color: $color;
              }
            }

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  } @else if $theme == 'dark' {
    .container-nav {
      background-color: #000000;

      nav {
        ul {
          li {
            color: white;

            &:hover {
              color: yellow;
            }
          }
        }
      }
    }
  }
}

.backgroundcolor {
  background-color: #e7e7e7;
}

body {
  @include theme('dark');

  .container-nav {
    width: 100%;

    nav {
      ul {
        display: flex;
        justify-content: center;
        gap: 50px;

        li {
          font-size: $font-size;

          &:hover {
            @if $noHover == true {
              color: $primary-color;
            } @else {
              @include theme('dark') {
                color: yellow;
              }
            }
          }

          &:first-child {
            font-size: em(24, 30);
          }

          &:last-child {
            @extend .backgroundcolor;
            border-color: #333333;
          }
        }
      }
    }
  }

  
  @for $i from 1 through 2 {
    .div-#{$i} {
      @if $i == 1 {
        background-color: #f0f0f0;
      } @else if $i == 2 {
        background-color: #333333;
        color: #ffffff;
      }
    }
  }

  .primodiv {
    @extend .div-1;
    width: $secondodiv-width / 3;
  }

  .secondodiv {
    @extend .div-2;
    width: $secondodiv-width;
  }
}