body{
    height: 100000px;
    background-color: red;
}

div{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

nav{
    position: sticky;
    top: 0;
    background-color: aqua;
}

nav{
    position: fixed;
    top: 0;
}