div.container ul.list li{
    display: inline-block;
}


div.container p.para span.para__span{
    border: 1px solid red;
}

.span1{
    display: inline;
    height: 50px;
    width: 50px;
}

.span2{
    display: inline-block;
    height: 50px;
    width: 50px;
}

.span3{
    display: block;
    height: 50px;
    width: 50px;
}

