.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.container div {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}
.item-1-4 {
    grid-column: span 2;
}
.item-8-9 {
    grid-column: 2 / span 2; /* Dalla colonna 2 e occupa 2 colonne */
    grid-row: 3; /* Riga 3 */
}