.flex{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: red;
}

.flex div{
    background-color: white;
    margin: 20px;
    padding: 10px;
}